* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #353535;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    margin-bottom: 150px;
}
header div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;

}
header div span{
    display: block;
    text-align: center;
}
.logo2 {
    font-size: 50px;
    font-weight: bold;
    margin-left: -5px;
}
.logo3 {
    letter-spacing: 20px;
}
.blog-posts-container{
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 150px;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f1f1f1;
}
.blog-posts-container img {
    width: 100%;
    margin-bottom: 20px;
}
.blog-posts-container h2 {
    margin-bottom: 20px;
}
.blog-posts-container .author {
    margin-bottom: 20px;
} 
.blog-posts-container summary {
    margin-bottom: 20px;
}
.blog-posts-container a{
    text-decoration: none;
    background-color: #353535;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}
.post-container{
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 150px;
    padding: 20px;
    margin-top: 150px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f1f1f1;

}
.post-container img {
    width: 100%;
    margin-bottom: 20px;
}
.post-container h2 {
    margin-bottom: 20px;
    padding: 0 20px;
}
.post-container .author {
    margin-bottom: 20px;
    padding: 0 20px;
}
.post-container .content {
    margin-bottom: 20px;
    padding: 0 20px;
}